<table>
  <caption>Event id –  <%= @event.id %>, <%= @event.location %></caption>
  <thead>
    <th>ID</th>
    <th>Event date</th>
    <th>Event Location</th>
    <th>Event Creator Email</th>
    <th>Event Attendees</th>
  </thead>
  <tbody>
    <%= form_for @event, url: event_path(@event), method: :patch do |f| %>
      <tr>
        <td><%= @event.id %></td>
        <td><%= f.text_field :date, value: @event.date %></td>
        <td><%= f.text_field :location, value: @event.location %></td>
        <td><%= @event.creator.email %></td>
        <td>
          <% @event.attendees.each do |a| %>
            <%= a.id.to_s + ',' + a.email + ', ' %>
          <% end %>
        </td>
        <td>
          <%= f.submit "Update event", class:"btn-sm" %>
        </td>
    <% end %>    
        <td>
          <%= button_to "Delete event", event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm" %>
        </td>
      </tr>
    </tbody>
  </table>

