<h1>Events#new</h1>
<p>Create a new event</p>
<%= button_to "Events list", events_path, method: :get %>

<%= form_with model: @event do |f| %>
    <%= f.label :date, "Event Date" %>
    <%= f.date_field :date %>
    <%= f.label :location, "Event location" %>
    <%= f.text_field :location %>
    <%= f.submit %>
<% end %>
  