<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <section>
        <div class='user-nav-links'>
          <% if !on_these_paths?([events_path, unauthenticated_root_path, new_user_session_path]) %>
            <%= link_to "My invited events", events_path %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to "Edit Profile", edit_user_registration_path %>
            <%= link_to "My created events", users_show_path %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class:"btn-sm" %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path %>
          <% end %>
          <div class='flash'>
            <p class='alert'><%= alert %></p>
            <p class='notice'><%= notice %></p>
          </div>
        </div>      
      </section>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
